<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ingreso proveedor</title>
    <link th:href="@{css/MisEstilos.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/MisEstilos.css"/>
</head>
<body>
<h2>Crear nuevo proveedor</h2>
<br>
<form th:action="@{/nuevo-proveedor}" th:object="${provider}" method="post">
    <div class="form-group">
        <label for="codProvider">Código de proveedor:</label>
        <input class="form-control" type="text" id="codProvider" name="codProvider" th:field="*{codProvider}" required/>

    </div>
    <div >
        <label for="nameProvider">Nombre de proveedor:</label>
        <input class="form-control" type="text" id="nameProvider" name="nameProvider" th:field="*{nameProvider}" required/>
    </div>

    <div >
        <label for="catProvider">Categoria de proveedor:</label>
        <input  type="text" id="catProvider" name="catProvider" th:field="*{catProvider}" required/>
    </div>

    <br>
    <button type="reset" class="btn btn-primary">Restablecer</button>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>
<br>
<a th:href="@{~/}">
    Volver al inicio
</a>
<footer>
    &copy; Milk Santiago 2077
</footer>
</body>
</html>