<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link th:href="@{css/MisEstilos.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/MisEstilos.css"/>
</head>
<body>
<h1>Milk Santiago</h1>
<hr>
<ul>
    <li>
        <a th:href="@{~/nuevo-proveedor}">
            Nuevo proveedor
        </a>
    </li>
    <li>
        Listar proveedores
    </li>
    <li>
        <a th:href="@{~/importar-acopio}">
        Importar acopio
        </a>
    </li>
    <li>
        Importar valores grasa y leche
    </li>
    <li>
        Reporte
    </li>
</ul>

  <hr>
  <h5>Eliminar todos los proveedores</h5>
  <a th:href="@{~/borrar-todo}">
      <button class="btn btn-danger">
          Eliminar
      </button>
  </a>
<footer>
    &copy; Milk Santiago 2077
</footer>
</body>
</html>